.table {
  width: 96%;
  &.datatable {
    td:nth-child(2) {
      display: none;
    }
    th:nth-child(2) {
      display: none;
    }
    thead,
    td {
      border-bottom: solid 1px $gray-500;
    }
  }
}
.table-checkbox {
  .form-check-input {
    border: 1px solid $gray-500 !important;
  }
}
